:root {
  --teal: #10a19b;
  --pink: #fc5da7;
  --white: #ffffff;
  --light-teal: #ebf9f8;
  --light-pink: #ffd8e9;
  --light-gray: #e4e5eb;  
  --dark-teal: #2e9e97;
  --pointFive-em: 0.5em;
}

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	color: var(--teal);
	background-image: url(../images/background.png);
	background-size: 50%;
	background-color: var(--light-teal);
}

a{
	cursor: pointer;
	text-decoration: none;
	color: var(--white);
}

a:hover, a:focus{
	color: var(--pink);
}

img{
	max-width: 100%;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	list-style-type: none;
	margin: 4px;
}

h1{
	font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	color: var(--pink);
}

#main-container{
	border: 1em solid var(--white);
    margin: 50px auto;
    width: 60%;
    background-color: var(--white);
    border-radius: 1em;
	padding: 1% 2%;
	box-shadow: 5px 10px #2e9e97;
}

.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex-child{
	flex: 1;	
}

.text-center{
	text-align: center;
}

.text-teal{
	color: var(--teal);
}

.logo-container{
	flex-basis: 12%;
}

.slogan{
	text-align: center;
}

.nav-container ul{
	background-color: var(--teal);
	border-radius: 2em;
	text-align: center;
}

.nav-container ul li{
	padding: 0.25em;
}

.nav-container ul li:hover, .nav-container ul li:focus{
	background-color: var(--white);
	color: var(--pink);
	border-radius: 2em;
}

.profile-container{
	background-color: var(--pink);
    border-radius: 50% 0;
    width: 60%;
	margin: auto;
}

.profile-portrait{
	border-radius: 50%;
	border: 1em solid var(--white);
	transition: opacity 1s ease-in-out;
}

.hello-hand{
	width: 10%;
	margin-right: 2%;
}

.section{
	padding: 2% 0;
	border-top: 0.25em solid var(--teal);
}

.mini-caption{
	text-align: center;
    margin-top: 0;
    margin-bottom: -12px;
}

#skills .skills-box{
	background-color: var(--pink);
	flex-basis: 31%;
	margin: 1%;
	padding: 1%;
	border-radius: 0.50em;
	box-shadow: 4px 8px var(--light-pink);
	color: var(--white);
}

.skills-title{
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
}

#projects .proj-box{
	background-color: var(--light-teal);
	flex-basis: 40%;
	margin: 1%;
	padding: 1%;
	border-radius: 0.50em;
	box-shadow: 4px 8px var(--dark-teal);
	color: var(--teal);
	line-height: 1.25;
	text-align: justify;
	padding: 2%;

}

.proj-title{
	text-align: center;
	text-transform: uppercase;
}



